<ion-content [style.--background]="corFundo" [fullscreen]="true" class="container">

  <div class="content-wrapper">

    <ion-card class="rgb-card">

      <div class="range-group">
        <label>R</label>
        <ion-range [(ngModel)]="r" min="0" max="255"></ion-range>
      </div>

      <div class="range-group">
        <label>G</label>
        <ion-range [(ngModel)]="g" min="0" max="255"></ion-range>
      </div>

      <div class="range-group">
        <label>B</label>
        <ion-range [(ngModel)]="b" min="0" max="255"></ion-range>
      </div>

    </ion-card>

    <div class="buttons">
      <ion-button (click)="mudarCorBotao()" [style.--background]="corBotao" class="botao alterar">Alterar Cor</ion-button>
      <ion-button (click)="mudarFundo()" class="botao fundo">Cor de Fundo</ion-button>
      <ion-button (click)="navegarParaHome()" class="botao voltarPagina">Voltar</ion-button>
    </div>

  </div>

</ion-content>