<ion-content [fullscreen]="true" class="container">

  <div class="content-wrapper">

    <ion-card class="rgb-card">
      
      <div class="range-group">
        <label>R</label>
        <ion-range min="0" max="255"></ion-range>
      </div>

      <div class="range-group">
        <label>G</label>
        <ion-range min="0" max="255"></ion-range>
      </div>

      <div class="range-group">
        <label>B</label>
        <ion-range min="0" max="255"></ion-range>
      </div>

    </ion-card>

    <div class="buttons">
      <ion-button class="botao alterar">Alterar Cor</ion-button>
      <ion-button class="botao fundo">Cor de Fundo</ion-button>
      <ion-button class="botao voltarPagina">Voltar</ion-button>
    </div>

  </div>

</ion-content>